@import 'tailwindcss';

@layer utilities {
  .logo-font {
    font-family: 'Proza Libre', sans-serif;
  }

  .fade-in {
    opacity: 0.9;
    transition: opacity 200ms ease-in-out;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
}

@layer base {
  body {
    @apply bg-zinc-950;

    @apply overflow-x-hidden;
    @apply overflow-y-hidden;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
