@import 'tailwindcss';

@layer utilities {
  .brand-font {
    font-family: 'Proza Libre', sans-serif;
  }
}

@layer base {
  html,
  body {
    @apply bg-zinc-950;
    @apply text-zinc-400;
    @apply overflow-hidden;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 150ms;
  }
}
