@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .logo {
        font-family: 'Proza Libre', sans-serif;
    }

    .no-blue-box {
        -webkit-tap-highlight-color: transparent;
    }

    .fade-in {
        opacity: 0.9;
        transition: opacity 200ms ease-in-out;
    }
      
    .fade-out {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
}